
/*NOTO SANS FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
/*NOTO SERIF FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
}

/*////////////////*/
/* HEADER SECTION */
/*////////////////*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
    font-family: "Noto Sans JP", sans-serif;
}

.main-header {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #BAD29F;

}

.main-header a {
    font-weight: 700;
    text-decoration: none;
    color: #BAD29F;
}

nav a {
    display: inline-block;
    width: 125px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #495D63;
}

nav a:last-child {
   text-align: right;
}

/*//////////////*/
/* MAIN SECTION */
/*//////////////*/

main {
    margin: auto 125px;
    font-family: "Noto Sans JP", sans-serif;
}

hr {
    color: rgba(73, 93, 99, 0.25);
    background-color: rgba(73, 93, 99, 0.25);
    border-color: rgba(73, 93, 99, 0.25);
}

h2 {
    font-size: 1.75rem;
    color: #2D0320;
}

h3 {
    font-size: 1.25rem;
    color: #495D63;
}

p {
    font-size: 1.25rem;
}


/*COLORS SECTION*/

.color-samples-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 50px;
}

.color-sample {
    width: 200px;
    height: 350px;
    text-align: center;
}

.color-sample p {
    display: inline-block;
    height: 50px;
    color: white;
    font-weight: 900;
    margin-top:300px;
}

.color1 {
    background: #BAD29F;
}

.color2 {
    background: #5db7de;
}

.color3 {
    background: #D64933;
}

.color4 {
    background: #495d63;
}

.color5 {
    background: #2D0320;
}

/*FONTS SECTION*/

#fonts {
    margin: 50px 50px;
}

.font-samples-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.noto-serif {
    font-family: "Noto Serif JP", serif;
}

.noto-serif h2, .noto-sans h2 {
    text-decoration: underline;
    color: #5DB7DE;
    font-weight: 400;
}

.weight100 {
    font-weight: 100;
}

.weight200 {
    font-weight: 200;
}

.weight300 {
    font-weight: 300;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

.weight900 {
    font-weight: 900;
}


/*TEXT STYLES SECTION*/

#text-styles {
    margin: 100px 50px;
}

#text-styles h3:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
}

#text-styles hr {
    color: rgba(73, 93, 99, 0.10);
    background-color: rgba(73, 93, 99, 0.10);
    border-color: rgba(73, 93, 99, 0.10);
}

.text-style-samples {
    text-align: center;
}

.text-style-samples p{
    font-weight: 100;
}


/*BUTTONS SECTION*/

.buttons-samples {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 50px 100px 50px;
}

.buttons-samples button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: 900;
}

.buttons-samples button:hover {
    color:white;
    border:solid transparent;
}

.accept-button {
    color: #5DB7DE;
    background-color: white;
    border: solid 3px #5DB7DE;
}

.accept-button:hover {
    background-color: #5DB7DE;
}

.cancel-button {
    color: #495D63;
    background-color: white;
    border: solid 3px #495D63;
}

.cancel-button:hover {
    background-color: #495D63;
}

.save-button {
    color: #BAD29F;
    background-color: white;
    border: solid 3px #BAD29F;
}

.save-button:hover {
    background-color: #BAD29F;
}

.delete-button {
    color: #D64933;
    background-color: white;
    border: solid 3px #D64933;
}

.delete-button:hover {
    background-color: #D64933;
}


/*////////////////*/
/* FOOTER SECTION */
/*////////////////*/

footer {
    margin: 25px 100px;
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    color: #2D0320;
}